.dropdown {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 32px;
  overflow: hidden;
  width: 180px;
}

.dropdown select {
  background: transparent;
  border: none;
  font-size: 15px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 200px;
 -webkit-appearance: none; 
 -moz-appearance: none;
 appearance: none;
}

.clearfix {
  overflow: auto;
}

.todo-form > .row {
  margin-bottom: 20px;
}

.todo-list,
.todo-form {
  float: left;
  width: 50%;
}


