input, select {
  margin-bottom: 15px;
}

.dropdown, 
.dropdown select {
 height: 40px;
 width: 100%;
 padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
  color: #555;
}

.btn-primary {
  width: 100%;
}

.clearfix {
  overflow: auto;
}

.app-title {
    background: aliceblue;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

.todo-container {
  display: flex;
  justify-content: center;
}

.form-section {
  background: #ececec;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.list-section,
.empty-section {
  width: 500px;
  margin-left: 40px;
}

.empty-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-form > .row {
  margin-bottom: 20px;
}

.todo-list-entry,
.todo-item-entry {
  background: #cccccc;
  padding: 10px;
}

.todo-empty-list {
  margin-top: 50px;
  text-align: center;
}

.todo-list {
  display: flex;
  list-style: none;
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.todo-list-title {
  background: lightblue;
  padding: 10px 10px;
  border-radius: 10px;
}

.todo-actions {
  margin-right: 10px;
}

.todo-item {
  width: 80%;
}

.todo-list {
  border-bottom: 1px solid #ccc;
}


